/* CSS Document */

a {
  color: #B81007;
}

a:hover {
  color: #2E70B1;
}

.content th {
  padding: 5px 10px;
}

.content td {
  padding: 10px;
}

#main-menu .menu a {
  padding: 1em 15px;
}

.form-text {
  padding: 1px 5px;
} 

#ui-datepicker-div {
  width: 250px;
  z-index: 100 !important;
}

#autocomplete {
  left: 172px !important;
  top: 411px !important;
}

.page-award #autocomplete {
  left: 172px !important;
  top: 391px !important;
}

table,
.view-single-award .view-display-id-attachment_2  table td,
.view-single-award .view-display-id-attachment_3  table td,
.view-single-award .view-display-id-attachment_4  table td  {
  width: 50%;
}

.view-single-award .view-display-id-attachment_2 table {
  margin-bottom: 0px;
  border-bottom: none;
}

.view-single-award .view-display-id-attachment_3  table {
  
}

.page-awarded-list .view-id-awarded_from_menu_2 .view-footer {
  float: left;
  padding-top: 20px;
  margin-top: -185px;
}

.view-id-frontpage_ .view-display-id-attachment_2 {
  
}